* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*.hidden {
    display: none;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 25px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 45px 0;
}

.button {
    margin: 15px;
    cursor: pointer;
    padding: 10px;
    background: #1c6bcc;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: 150px;
}

#explanation {
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    border: 1px solid black;
    padding: 35px;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}